{% set title = "Mutation Trial Details" %}
{% extends "html-report.html.jinja" %}

{% block main %}
{% for source_file, module in modules.items() %}
{% for trial in module.trials %}
{{ trial_details(trial, source_file) }}
{% endfor %}
{% endfor %}
{% endblock %}